apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: grafana-cert
  namespace: monitoring
spec:
  secretName: grafana-tls
  dnsNames:
    - grafana.cloudforge.home.arpa
  issuerRef:
    kind: ClusterIssuer
    name: homelab-ca
