apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
    
  ignoreDifferences:
    - group: apiextensions.k8s.io
      kind: CustomResourceDefinition
      # You can list them individually, or use 4 separate blocks
      name: alertmanagers.monitoring.coreos.com
      jsonPointers:
        - /metadata/annotations/kubectl.kubernetes.io~1last-applied-configuration
    - group: apiextensions.k8s.io
      kind: CustomResourceDefinition
      name: prometheuses.monitoring.coreos.com
      jsonPointers:
        - /metadata/annotations/kubectl.kubernetes.io~1last-applied-configuration
    - group: apiextensions.k8s.io
      kind: CustomResourceDefinition
      name: prometheusagents.monitoring.coreos.com
      jsonPointers:
        - /metadata/annotations/kubectl.kubernetes.io~1last-applied-configuration
    - group: apiextensions.k8s.io
      kind: CustomResourceDefinition
      name: thanosrulers.monitoring.coreos.com
      jsonPointers:
        - /metadata/annotations/kubectl.kubernetes.io~1last-applied-configuration

  sources:
    # 1) Namespace with PSA labels (from your repo)
    - repoURL: https://github.com/colinchaput/homelab-gitops.git
      targetRevision: HEAD
      path: apps/apps/kube-prometheus-stack/manifests      # folder that contains namespace.yaml
    # 2) Helm chart
    - repoURL: https://prometheus-community.github.io/helm-charts
      chart: kube-prometheus-stack
      targetRevision: 60.3.0
      helm:
        releaseName: kube-prometheus-stack
        values: |
          grafana:
            persistence:
              enabled: true
              type: pvc
              accessModes: [ "ReadWriteOnce" ]
              size: 10Gi
              storageClassName: longhorn
            ingress:
              enabled: true
              ingressClassName: nginx
              annotations:
                cert-manager.io/cluster-issuer: homelab-ca
                nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
                nginx.ingress.kubernetes.io/hsts: "false"
                nginx.ingress.kubernetes.io/hsts-max-age: "0"
              hosts: [ "grafana.cloudforge.home.arpa" ]
              tls:
                - secretName: grafana-tls
                  hosts: [ "grafana.cloudforge.home.arpa" ]

          prometheus:
            prometheusSpec:
              retention: 15d
              storageSpec:
                volumeClaimTemplate:
                  spec:
                    storageClassName: longhorn
                    accessModes: [ "ReadWriteOnce" ]
                    resources:
                      requests:
                        storage: 20Gi

          alertmanager:
            alertmanagerSpec:
              storage:
                volumeClaimTemplate:
                  spec:
                    storageClassName: longhorn
                    accessModes: [ "ReadWriteOnce" ]
                    resources:
                      requests:
                        storage: 5Gi
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
